{% extends 'main.html' %}


{% block content %}

{% if page == 'login' %}

<div>
    <form method="POST" action="">
        {% csrf_token %}

        <label for="">Kullanıcı Adı:</label>
        <input type='text' name="username" placeholder="Lütfen Kullanıcı Adı Belirleyin..." />

        <label for="">Şifre:</label>
        <input type='password' name="password" placeholder="Lütfen Şifre Belirleyin..." />


        <input type='submit' value="Login" />
    </form>
    <p>
        Üye Değil misiniz ?
    </p>
    <a href="{% url 'register' %}">
        Üye ol
    </a>
</div>

{% else %}

<div>
    <form method="POST" action="">
        {% csrf_token %}

        {{form.as_p}}


        <input type='submit' value="Register" />
    </form>

    <p>
        Zaten Üye misiniz?
    </p>
    <a href="{% url 'login' %}">
        Giriş Yap
    </a> 
</div>

{% endif %}

{% endblock content %}